alembic : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
At line:1 char:261
+ ... s/backend"; alembic upgrade 20260717_0003 --sql > migrations_0003.sql ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
BEGIN;

INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 20260714_0001, Create authentication tables.
-- Running upgrade  -> 20260714_0001

CREATE TABLE users (
    id VARCHAR(36) NOT NULL, 
    email VARCHAR(320) NOT NULL, 
    username VARCHAR(80) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE UNIQUE INDEX ix_users_username ON users (username);

CREATE TABLE refresh_tokens (
    id VARCHAR(36) NOT NULL, 
    user_id VARCHAR(36) NOT NULL, 
    token_hash VARCHAR(64) NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    revoked_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_refresh_tokens_token_hash UNIQUE (token_hash)
);

CREATE INDEX ix_refresh_tokens_user_id ON refresh_tokens (user_id);

INSERT INTO alembic_version (version_num) VALUES ('20260714_0001') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade 20260714_0001 -> 064dcb41eb02, sync models
-- Running upgrade 20260714_0001 -> 064dcb41eb02

ALTER TABLE refresh_tokens DROP CONSTRAINT refresh_tokens_user_id_fkey;

ALTER TABLE users ALTER COLUMN id TYPE UUID USING id::uuid;

ALTER TABLE refresh_tokens ALTER COLUMN user_id TYPE UUID USING user_id::uuid;

ALTER TABLE refresh_tokens ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

CREATE TABLE api_keys (
    user_id UUID NOT NULL, 
    name VARCHAR(128) NOT NULL, 
    key_prefix VARCHAR(16) NOT NULL, 
    key_hash VARCHAR(255) NOT NULL, 
    last_used_at TIMESTAMP WITH TIME ZONE, 
    revoked_at TIMESTAMP WITH TIME ZONE, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    UNIQUE (key_hash)
);

CREATE INDEX ix_api_keys_key_prefix ON api_keys (key_prefix);

CREATE INDEX ix_api_keys_user_id ON api_keys (user_id);

CREATE INDEX ix_api_keys_user_id_revoked_at ON api_keys (user_id, revoked_at);

CREATE TABLE conversations (
    user_id UUID NOT NULL, 
    title VARCHAR(255), 
    archived_at TIMESTAMP WITH TIME ZONE, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_conversations_user_id ON conversations (user_id);

CREATE INDEX ix_conversations_user_id_created_at ON conversations (user_id, created_at);

CREATE TABLE devices (
    user_id UUID NOT NULL, 
    name VARCHAR(128) NOT NULL, 
    type VARCHAR(16) NOT NULL, 
    platform VARCHAR(64), 
    last_seen_at TIMESTAMP WITH TIME ZONE, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_devices_user_id ON devices (user_id);

CREATE INDEX ix_devices_user_id_type ON devices (user_id, type);

CREATE TABLE memories (
    user_id UUID NOT NULL, 
    content TEXT NOT NULL, 
    source VARCHAR(64), 
    importance FLOAT NOT NULL, 
    embedding FLOAT[], 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_memories_user_id ON memories (user_id);

CREATE INDEX ix_memories_user_id_created_at ON memories (user_id, created_at);

CREATE TABLE notifications (
    user_id UUID NOT NULL, 
    type VARCHAR(16) NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    body TEXT, 
INFO  [alembic.runtime.migration] Running upgrade 064dcb41eb02 -> 20260715_0002, Add server_default to timestamp 
columns
    read_at TIMESTAMP WITH TIME ZONE, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_notifications_user_id ON notifications (user_id);

CREATE INDEX ix_notifications_user_id_created_at ON notifications (user_id, created_at);

CREATE INDEX ix_notifications_user_id_read_at ON notifications (user_id, read_at);

CREATE TABLE plugins (
    user_id UUID NOT NULL, 
    name VARCHAR(128) NOT NULL, 
    version VARCHAR(32) NOT NULL, 
    enabled BOOLEAN NOT NULL, 
    config JSONB, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_plugins_user_id_name UNIQUE (user_id, name)
);

CREATE INDEX ix_plugins_user_id ON plugins (user_id);

CREATE INDEX ix_plugins_user_id_enabled ON plugins (user_id, enabled);

CREATE TABLE tasks (
    user_id UUID NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT, 
    status VARCHAR(16) NOT NULL, 
    due_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_tasks_user_id ON tasks (user_id);

CREATE INDEX ix_tasks_user_id_due_at ON tasks (user_id, due_at);

CREATE INDEX ix_tasks_user_id_status ON tasks (user_id, status);

CREATE TABLE messages (
    conversation_id UUID NOT NULL, 
    role VARCHAR(16) NOT NULL, 
    content TEXT NOT NULL, 
    meta JSONB, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE
);

CREATE INDEX ix_messages_conversation_id ON messages (conversation_id);

CREATE INDEX ix_messages_conversation_id_created_at ON messages (conversation_id, created_at);

CREATE TABLE sessions (
    user_id UUID NOT NULL, 
    device_id UUID, 
    token_hash VARCHAR(255) NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    revoked_at TIMESTAMP WITH TIME ZONE, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(device_id) REFERENCES devices (id) ON DELETE SET NULL, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_sessions_device_id ON sessions (device_id);

CREATE UNIQUE INDEX ix_sessions_token_hash ON sessions (token_hash);

CREATE INDEX ix_sessions_user_id ON sessions (user_id);

CREATE INDEX ix_sessions_user_id_expires_at ON sessions (user_id, expires_at);

ALTER TABLE users ADD COLUMN display_name VARCHAR(128);

ALTER TABLE users ALTER COLUMN email TYPE VARCHAR(255);

ALTER TABLE users ALTER COLUMN username TYPE VARCHAR(64);

UPDATE alembic_version SET version_num='064dcb41eb02' WHERE alembic_version.version_num = '20260714_0001';

-- Running upgrade 064dcb41eb02 -> 20260715_0002

ALTER TABLE users ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE users ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE refresh_tokens ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE api_keys ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE api_keys ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE conversations ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE conversations ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE devices ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE devices ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE memories ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE memories ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE messages ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE messages ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE notifications ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE notifications ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE plugins ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE plugins ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE sessions ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE sessions ALTER COLUMN updated_at SET DEFAULT now();

ALTER TABLE tasks ALTER COLUMN created_at SET DEFAULT now();

ALTER TABLE tasks ALTER COLUMN updated_at SET DEFAULT now();

UPDATE alembic_version SET version_num='20260715_0002' WHERE alembic_version.version_num = '064dcb41eb02';

-- Running upgrade 20260715_0002 -> 20260716_0003

ALTER TABLE conversations ADD COLUMN is_pinned BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE conversations ADD COLUMN is_favorited BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE conversations ADD COLUMN is_archived BOOLEAN DEFAULT false NOT NULL;

ALTER TABLE conversations ADD COLUMN summary TEXT;

ALTER TABLE conversations ADD COLUMN summary_updated_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE conversations ADD COLUMN message_count INTEGER DEFAULT 0 NOT NULL;

ALTER TABLE conversations ADD COLUMN token_count INTEGER DEFAULT 0 NOT NULL;

ALTER TABLE conversations ADD COLUMN last_message_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE conversations ADD COLUMN model VARCHAR(128);

CREATE INDEX ix_conversations_user_id_pinned ON conversations (user_id, is_pinned);

CREATE INDEX ix_conversations_user_id_archived ON conversations (user_id, is_archived);

ALTER TABLE messages ADD COLUMN token_count INTEGER;

ALTER TABLE messages ADD COLUMN model TEXT;

INFO  [alembic.runtime.migration] Running upgrade 20260715_0002 -> 20260716_0003, Enhance conversation/message models 
and add conversation_summaries.
CREATE TABLE conversation_summaries (
    id UUID NOT NULL, 
    conversation_id UUID NOT NULL, 
    summary TEXT NOT NULL, 
    message_count INTEGER DEFAULT 0 NOT NULL, 
    token_count INTEGER DEFAULT 0 NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(conversation_id) REFERENCES conversations (id) ON DELETE CASCADE
);

CREATE INDEX ix_summaries_conversation_id ON conversation_summaries (conversation_id);

UPDATE alembic_version SET version_num='20260716_0003' WHERE alembic_version.version_num = '20260715_0002';

INFO  [alembic.runtime.migration] Running upgrade 20260716_0003 -> 20260716_0004, Add is_archived column to 
conversations table (fix for missing column).
-- Running upgrade 20260716_0003 -> 20260716_0004

DO $$
        BEGIN
            IF NOT EXISTS (
                SELECT 1
                FROM information_schema.columns
                WHERE table_name = 'conversations'
                  AND column_name = 'is_archived'
            ) THEN
                ALTER TABLE conversations
                ADD COLUMN is_archived BOOLEAN NOT NULL DEFAULT FALSE;
            END IF;
        END $$;;

UPDATE alembic_version SET version_num='20260716_0004' WHERE alembic_version.version_num = '20260716_0003';

INFO  [alembic.runtime.migration] Running upgrade 20260716_0004 -> 20260716_0005, Add category column to memories.
-- Running upgrade 20260716_0004 -> 20260716_0005

DO $$
        BEGIN
            IF NOT EXISTS (
                SELECT 1
                FROM information_schema.columns
                WHERE table_name = 'memories'
                  AND column_name = 'category'
            ) THEN
                ALTER TABLE memories
                ADD COLUMN category VARCHAR(64);
            END IF;
        END $$;;

UPDATE alembic_version SET version_num='20260716_0005' WHERE alembic_version.version_num = '20260716_0004';

INFO  [alembic.runtime.migration] Running upgrade 20260716_0005 -> 20260717_0001, Add RAG documents and chunks tables.
-- Running upgrade 20260716_0005 -> 20260717_0001

CREATE TABLE documents (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    filename VARCHAR(255), 
    content TEXT NOT NULL, 
    metadata JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_documents_user_id_created_at ON documents (user_id, created_at);

CREATE TABLE document_chunks (
    id UUID NOT NULL, 
    document_id UUID NOT NULL, 
    chunk_text TEXT NOT NULL, 
    embedding FLOAT[], 
    chunk_index INTEGER NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES documents (id) ON DELETE CASCADE
);

CREATE INDEX ix_chunks_document_id_chunk_index ON document_chunks (document_id, chunk_index);

UPDATE alembic_version SET version_num='20260717_0001' WHERE alembic_version.version_num = '20260716_0005';

INFO  [alembic.runtime.migration] Running upgrade 20260717_0001 -> 20260717_0002, Add automations and execution 
history tables.
-- Running upgrade 20260717_0001 -> 20260717_0002

CREATE TABLE automations (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    name VARCHAR(128) NOT NULL, 
    description TEXT, 
    trigger_type VARCHAR(32) NOT NULL, 
    schedule VARCHAR(256) NOT NULL, 
    tool_name VARCHAR(128) NOT NULL, 
    tool_arguments JSON, 
    enabled BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_automations_user_id_enabled ON automations (user_id, enabled);

CREATE TABLE automation_executions (
    id UUID NOT NULL, 
    automation_id UUID NOT NULL, 
    status VARCHAR(32) NOT NULL, 
    summary TEXT, 
    output JSON, 
    error TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(automation_id) REFERENCES automations (id) ON DELETE CASCADE
);

CREATE INDEX ix_execution_automation_id_created_at ON automation_executions (automation_id, created_at);

UPDATE alembic_version SET version_num='20260717_0002' WHERE alembic_version.version_num = '20260717_0001';

INFO  [alembic.runtime.migration] Running upgrade 20260717_0002 -> 20260717_0003, Add agents table.
-- Running upgrade 20260717_0002 -> 20260717_0003

CREATE TABLE agents (
    id UUID NOT NULL, 
    name VARCHAR(128) NOT NULL, 
    description TEXT, 
    system_prompt TEXT, 
    allowed_tools JSON, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

UPDATE alembic_version SET version_num='20260717_0003' WHERE alembic_version.version_num = '20260717_0002';

COMMIT;

